html, body{
  color: #fefefe;
}
p,h1,h2,h3,h4,h5,h6, input, .css-qiwgdb, .css-pfv68y, .css-1x5jdmq, .css-1636szt, 
.css-1ve7tk0, .css-11hmkeu{
  color:#fefefe;
}
.css-11hmkeu{
   border: #ff000000;
  border-color: #ff0000;
}


.css-14r34si, .css-dab7h5, .css-18rmlqv, .css-12upb36{
  background-color: #121212;
  color: #fefefe;
}
